
body {
    --color1: #1d3557;
    --color2: #ffffff;
    --color3: #ffffff;
    --color4: #1d3557;
    --color5: #ffffff;
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
    background-image: url('https://cdn.dribbble.com/users/80960/screenshots/4711251/dribbble_shot_1506.gif');
    background-size:cover;                      
    background-repeat:no-repeat;
    background-position:center center;
    
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

}

.calculater {
    width: 500px;
    height: 500px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    
}

.add-subtract {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    

}

.mult-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
   
}

header {
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 4em;
    justify-content: center;
    align-items: center;
    display:flex;
    color:#1d3557;

}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}


h2 {
    font-size: 3rem;
    font-weight: bold;
}


.gutter-right {
    margin-right: 20px;
}

.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

header img {
    height: var(--header-height);
}



content {
    width: 80%;
}

p {
    margin: var(--gutter);
}

input {
    text-align: center;
    border: 1px solid #457b9d;
    font-size: 2em;
    color: #1d3557;
    font-family: 'Orbitron', sans-serif;
    border-radius: 50px;
    margin: 5px;
    width: 300px;
  }

h3 {
    padding: 10px;
    color:#1d3557;
    font-size: 40px;
    font-family: 'Orbitron', sans-serif;
}

button {
    margin: 10px;
    border: none;
    background-color: white;
    color: #457b9d;
    width: 100px;
    padding: 5px;
    border: 1px solid #457b9d;
    font-family: 'Orbitron', sans-serif;
    border-radius: 50px;
    font-size: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

span {
    color: #457b9d;
    font-family: 'Orbitron', sans-serif;
}

.results {
    color:#1d3557;
    font-family: 'Orbitron', sans-serif;
    margin: 10px;
    font-size: 40px;
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
    font-family: 'Orbitron', sans-serif;
}
  
  @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }