
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'VT323', monospace;
    background-color: var(--color2);
    background-image: url('https://cdn.dribbble.com/users/80960/screenshots/4711251/dribbble_shot_1506.gif');
    background-size:cover;                      
    background-repeat:no-repeat;
    background-position:center center;
    
}

main {
    display: flex;
    justify-content: center;
}


.calculator {
    width: 1000px;
    height: 500px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}


.input-area {
    display:flex;
    flex-direction: column;
}


.add-subtract {
    display: flex;
    margin: 10px;
}


.mult-div {
    display: flex;
    margin: 10px;   
}


.title {
    font-size: 5em;
    color:#1d3557;
    padding: 20px;
    margin: 20px;
}



content {
    width: 80%;
}



.inputs {
    text-align: center;
    border: 1px solid #457b9d;
    font-size: 3em;
    color: #1d3557;
    outline:none;
    font-family: 'VT323', monospace;
    border-radius: 50px;
    margin: 5px;
    width: 300px;
}


.buttons {
    margin: 10px;
    border: none;
    background-color: white;
    color: #1d3557;
    outline:none;
    width: 140px;
    padding: 5px;
    border: 1px solid #457b9d;
    font-family: 'VT323', monospace;
    border-radius: 50px;
    font-size: 2em;
}


button:hover {
    transform: skew(-10deg);
      
 }


.results {
    color:#1d3557;
    font-family: 'Orbitron', sans-serif;
    margin: 10px;
    font-size: 4em;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'VT323', monospace;
}
  

  
  @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }